
.loadingRoller,
.loadingRoller div,
.loadingRoller div:after {
    box-sizing: border-box;
}

.loadingRoller {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;                                   
}

.loadingRoller div {
    animation: loadingRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 20px 20px;
}

.loadingRoller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 3.6px;
    height: 3.6px;
    border-radius: 50%;
    background: #2cc388;
    margin: -1.8px 0 0 -1.8px;
}

.loadingRoller div:nth-child(1) {
    animation-delay: -0.036s;
}

.loadingRoller div:nth-child(1):after {
    top: 31.31371px;
    left: 31.31371px;
}

.loadingRoller div:nth-child(2) {
    animation-delay: -0.072s;
}

.loadingRoller div:nth-child(2):after {
    top: 33.85641px;
    left: 28px;
}

.loadingRoller div:nth-child(3) {
    animation-delay: -0.108s;
}

.loadingRoller div:nth-child(3):after {
    top: 35.45481px;
    left: 24.14111px;
}

.loadingRoller div:nth-child(4) {
    animation-delay: -0.144s;
}

.loadingRoller div:nth-child(4):after {
    top: 36px;
    left: 20px;
}

.loadingRoller div:nth-child(5) {
    animation-delay: -0.18s;
}

.loadingRoller div:nth-child(5):after {
    top: 35.45481px;
    left: 15.85889px;
}

.loadingRoller div:nth-child(6) {
    animation-delay: -0.216s;
}

.loadingRoller div:nth-child(6):after {
    top: 33.85641px;
    left: 12px;
}

.loadingRoller div:nth-child(7) {
    animation-delay: -0.252s;
}

.loadingRoller div:nth-child(7):after {
    top: 31.31371px;
    left: 8.68629px;
}

.loadingRoller div:nth-child(8) {
    animation-delay: -0.288s;
}

.loadingRoller div:nth-child(8):after {
    top: 28px;
    left: 6.14359px;
}

@keyframes loadingRoller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

