.armorKitWidget {
    @apply relative flex justify-center w-full h-[450px] bg-[#00293a] border-2 border-[#2cc388] rounded-[10px] overflow-hidden cursor-pointer;
}

.armorKitWidget_Text {
    @apply absolute bottom-[10px] left-[20px] w-auto max-w-[80%] bg-[#00000080] rounded-[7.5px] text-[#2cc388] text-[1.25rem] text-left font-['Exo2'] font-bold brightness-125;
}