.swiper-button-prev {
    top: 150px !important;
    left: 20px !important;
}

.swiper-button-next {
    top: 150px !important;
    right: 20px !important;
}

.swiper-pagination-bullet {
    @apply bg-theme;
}

@media(min-width: 480px) {
    .rootShipModuleBlock ::-webkit-scrollbar {
        @apply w-[8px];
    }

    .rootShipModuleBlock ::-webkit-scrollbar-track {
        @apply bg-white;
    }

    .rootShipModuleBlock ::-webkit-scrollbar-thumb {
        @apply bg-theme rounded-[5px];
    }

    .rootShipModuleBlock ::-webkit-scrollbar-thumb:hover {
        @apply bg-[#dfc800];
    }

    .rootShipModuleBlock .swiper-pagination {
        @apply hidden;
    }
}

.rootShipModuleBlock {
    @apply relative w-auto h-auto min-h-[80px] mlarge:min-h-[72.5px] bg-[url('/static/ShipModuleBackground.webp')] bg-cover border-2 border-theme rounded-[10px] overflow-hidden;
}

.rootShipModuleBlock-top {
    @apply relative flex justify-between items-center px-[30px] mlarge:px-[15px] w-full h-[80px] mlarge:h-[72.5px] cursor-pointer;
}

.rootShipModuleBlock-top-title {
    @apply text-theme text-[1.75rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-primary font-bold;
}

.rootShipModuleBlock-top-button {
    @apply relative flex justify-center items-center w-[30px] mlarge:w-[25px] mmedium:w-[22.5px] msmall:w-[20px] mlarge:min-w-[25px] mmedium:min-w-[22.5px] msmall:min-w-[20px] h-[30px] mlarge:h-[25px] mmedium:h-[22.5px] msmall:h-[20px] mlarge:min-h-[25px] mmedium:min-h-[22.5px] msmall:min-h-[20px] outline-none;
}

.rootShipModuleBlock-top-button-image {
    @apply w-full h-full duration-500 ease-in-out;
}

.rootShipModuleBlock-bottom {
    @apply relative flex mlarge:block justify-between px-[30px] mlarge:px-[15px] w-full h-auto duration-1000 ease-in-out;
}

.rootShipModuleBlock-bottom-leftBlock {
    @apply relative w-[60%] mlarge:w-full h-auto;
}

.rootShipModuleBlock-bottom-leftBlock-slider {
    @apply relative w-full h-[320px] mlarge:h-[190px] mmedium:h-[170px] msmall:h-[150px];
}

.slideImage {
    @apply w-full h-full mlarge:h-[160px] mmedium:h-[140px] msmall:h-[120px] border-2 border-theme rounded-[7.5px];
}

.rootShipModuleBlock-bottom-leftBlock-level {
    @apply flex justify-center items-center mt-[20px] mlarge:mt-[-5px] w-full h-auto border-b-2 border-theme;
}

.rootShipModuleBlock-bottom-leftBlock-level-title {
    @apply w-full text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] text-left font-primary font-semibold;
}

.rootShipModuleBlock-bottom-leftBlock-level-number {
    @apply w-[160px] text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] mlarge:text-right font-primary font-semibold;
}

.rootShipModuleBlock-bottom-leftBlock-level-number-bold {
    @apply mr-[10px] mlarge:mr-[5px] text-theme text-[1.75rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-secondary;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo {
    @apply mlarge:block mt-[20px] mlarge:mt-[10px] pb-[25px] mlarge:pb-[15px] flex justify-between w-full h-auto;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo-description {
    @apply w-[75%] mlarge:w-full text-white text-[1.25rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-primary font-medium brightness-75;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo-samplesContainer {
    @apply grid justify-items-end mlarge:justify-items-start grid-cols-1 gap-y-[10px] mlarge:mt-[10px] w-auto h-auto;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo-samplesContainer-block {
    @apply flex items-center;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo-samplesContainer-block-text {
    @apply mlarge:min-w-[30px] msmall:min-w-[25px] text-white text-[2rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] text-left font-secondary font-bold;
}

.rootShipModuleBlock-bottom-leftBlock-additionalInfo-samplesContainer-block-image {
    @apply ml-[15px] mlarge:ml-[10px] w-[35px] mlarge:w-[25px] mmedium:w-[22.5px] msmall:w-[20px] h-[35px] mlarge:h-[25px] mmedium:h-[22.5px] msmall:h-[20px];
}

.rootShipModuleBlock-bottom-rightBlock {
    @apply relative mlarge:mt-0 w-[37.5%] mlarge:w-full h-auto;
}

.rootShipModuleBlock-bottom-rightBlock-effectTitle {
    @apply mt-[-5px] text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-primary font-semibold;
}

.rootShipModuleBlock-bottom-rightBlock-effectText {
    @apply h-[90px] mlarge:h-auto text-white text-[1.25rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-primary font-medium brightness-75;
}

.rootShipModuleBlock-bottom-rightBlock-stratagems {
    @apply absolute mlarge:relative bottom-[25px] mlarge:bottom-[15px] mt-[10px] mlarge:mt-[20px] right-0 w-full h-[calc(100%-160px)] z-30;
}

.rootShipModuleBlock-bottom-rightBlock-stratagemsTitle {
    @apply text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-primary font-semibold;
}

.rootShipModuleBlock-bottom-rightBlock-stratagemsBlock {
    @apply relative mt-[10px] mlarge:mt-[5px] mmedium:mt-[7.5px] w-full h-[calc(100%-40px)] mlarge:h-[300px] bg-primary-bg border-2 border-theme rounded-[10px] overflow-hidden;
}
