.leaflet-control-container {
    @apply !h-[100px];
}

.leaflet-bar {
    @apply !border-[#2cc388];
}

.leaflet-control-zoom-in {
    @apply !h-[32px] !bg-[#01212f] !border-b-2 !border-[#2cc388] !text-[#2cc388];
}

.leaflet-control-zoom-out {
    @apply !h-[30px] !bg-[#01212f] !text-[#2cc388];
}

.leaflet-bottom {
    @apply hidden;
}

.leaflet-container img.leaflet-tile {
    /* See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
    mix-blend-mode: plus-lighter !important;
}

.leaflet-control-layers {
    @apply !py-[7.5px] !px-[12.5px] bg-[#07212f] !border-2 !border-[#2cc388] rounded-[5px];
}

.leaflet-control-layers-selector {
    @apply opacity-0 cursor-pointer;
}

.leaflet-control-layers-overlays > label > span > span {
    @apply ml-[-15px] bg-[url('/static/GalaxyMap/LayersControlCheckboxIcon.svg')] bg-no-repeat cursor-pointer select-none;
}

.leaflet-control-layers-overlays > label > span > .leaflet-control-layers-selector:checked + span {
    @apply ml-[-15px] bg-[url('/static/GalaxyMap/LayersControlCheckboxCheckedIcon.svg')] bg-no-repeat cursor-pointer select-none;
}

.leaflet-control-layers-overlays > label:nth-child(2) {
    @apply mt-[7.5px];
}

.leaflet-control-layers-overlays > label:nth-child(1) > span > span:after {
    content: "Показать линии снабжения";
    @apply ml-[22.5px] text-[#2cc388] font-['Exo2'] font-medium;
}

.leaflet-control-layers-overlays > label:nth-child(2) > span > span:after {
    content: "Показать захваченные сектора";
    @apply ml-[22.5px] text-[#2cc388] font-['Exo2'] font-medium;
}