.currentPlanet_Modal_Top {
    @apply relative flex;
}

.currentPlanet_Modal_Top_ImageWrapper {
    @apply relative flex justify-center items-center w-[700px] h-[232px] bg-cover bg-no-repeat border-2 border-[--theme-color] rounded-t-[7.5px] rounded-bl-[7.5px];
}

.currentPlanet_Modal_Top_ImageWrapper_Image {
    @apply w-full h-full;
}

.currentPlanet_Modal_Top_TextBlock {
    @apply relative mt-[-10px] pl-[40px] pb-[20px] w-[calc(100%-420px)] h-auto border-b-2 border-[--theme-color];
}

.currentPlanet_Modal_Top_TextBlock_Title {
    @apply text-[#ffffff] text-[2rem] font-['Exo2'] font-bold;
}

.currentPlanet_Modal_Top_TextBlock_WeatherConditionsBlock {
    @apply flex items-center mt-[20px];
}

.currentPlanet_Modal_Top_TextBlock_WeatherConditionsBlock_Image {
    @apply p-[5px] w-[60px] h-[60px] bg-[#ffffff] border-2 border-[--theme-color] rounded-[7.5px];
}

.currentPlanet_Modal_Top_TextBlock_WeatherConditionsBlock_Text {
    @apply ml-[20px] text-[#ffffff] text-[1.5rem] font-['Exo2'] font-semibold;
}

.currentPlanet_Modal_Bottom {
    @apply relative pr-[17.5px];
}

.currentPlanet_Modal_Bottom{
    @apply mt-[20px] w-auto h-auto;
}

.currentPlanet_Modal_Bottom_Title {
    @apply text-[--theme-color] text-[1.5rem] font-['Exo2'] font-bold;
}

.currentPlanet_Modal_Bottom_Text {
    @apply mt-[10px] text-[#ffffff] text-[1.25rem] font-['Exo2'] font-bold brightness-75;
}