input::-webkit-calendar-picker-indicator {
    @apply mt-[-10px] mlarge:mt-[-7.5px];
    color: #2cc388;
    opacity: 100;
}

.levelsSection {
    @apply relative mt-[30px] w-full;
}

form {
    @apply relative flex justify-around mlarge:justify-between items-center mlarge:items-start mt-[20px] mlarge:py-[10px] mlarge:px-[10px] h-[80px] mlarge:h-[120px] bg-[#00293a] border-2 border-[--theme-color] rounded-[10px];
}

.formInputBlock {
    @apply relative w-[400px] mlarge:w-[47.5%] h-[50px] mlarge:h-[40px];
}

.formInputBlock_Input {
    @apply pl-[30px] mlarge:pl-[15px] w-full h-full bg-[#07212f] border-2 border-[--theme-color] rounded-[7.5px] text-[#ffffff] text-[1.5rem] mlarge:text-[1.25rem] mmedium:text-[1.075rem] msmall:text-[0.875rem] text-center font-['Exo2'] font-bold outline-none;
}

.formInputBlock_ClearButton {
    @apply absolute top-[18px] mlarge:top-[13px] right-[35px] mlarge:right-[30px] msmall:right-[25px] w-[18px] mmedium:w-[16px] msmall:w-[15px] h-[18px] mmedium:h-[16px] msmall:h-[15px] outline-none;
}

.formInputBlock_ClearButton_Icon {
    @apply w-full h-full;
}

.formResultBlock {
    @apply mlarge:absolute flex justify-center items-center mlarge:bottom-[10px] w-[400px] mlarge:w-[calc(100%-20px)] h-[50px] mlarge:h-[40px] bg-[#07212f] border-2 border-[#2cc388] rounded-[7.5px];
}

.formResultBlock_Text {
    @apply text-[#ffffff] text-[1.5rem] mlarge:text-[1.375rem] mmedium:text-[1.25rem] msmall:text-[1rem] font-['Exo2'] font-bold;
}