.armorKit {
    @apply relative grid justify-items-center gap-y-[10px] w-full h-[500px];
}

.armorKitCard {
    @apply relative flex justify-center w-full h-[450px] mlarge:h-[300px] mmedium:h-[280px] msmall:h-[250px] bg-primary-bg border-2 border-theme rounded-[10px] overflow-hidden cursor-pointer duration-300 ease-in-out;
}

.armorKitCard:hover {
    @apply brightness-[1.15];
}

.armorKitCard-bonusIcon {
    @apply absolute top-[15px] left-[15px];
}

.armorKitCard-image {
    @apply w-full h-full bg-cover;
}

.armorKit-text {
    @apply w-auto max-w-[calc(100%-20px)] mlarge:max-w-[calc(100%-10px)] text-theme text-[1.125rem] mlarge:text-[0.9rem] mmedium:text-[0.775rem] msmall:text-[0.675rem] text-center font-ru-primary font-bold;
}