@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Insignia';
  src: url('./fonts/Insignia Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Exo2';
  src: url('./fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

:root {
  --swiper-navigation-color: #2cc388 !important;
  --theme-color: #2cc388;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  @apply relative bg-[#01212f];
}

main {
  @apply mt-[30px] mlarge:mt-[145px] deskWide:ml-[calc((100%-1440px)/2)] pb-[100px] mlarge:pb-[30px] px-[5%] deskWide:px-0 w-full max-w-[1440px] h-auto min-h-[780px] mlarge:min-h-[700px] msmall:min-h-[600px] mlarge:overflow-hidden;
}

.pageTitle {
  @apply text-[#ffffff] text-[2.5rem] mlarge:text-[1.75rem] mmedium:text-[1.625rem] msmall:text-[1.5rem] font-['Exo2'] font-bold;
}

.pageTitle_Bold {
  @apply text-[--theme-color] font-bold;
}

.pageDescription {
  @apply mt-[20px] mlarge:mt-[10px] w-[80%] mlarge:w-full text-[#ffffff] text-[1.5rem] mlarge:text-[1.125rem] font-['Exo2'] font-medium brightness-75;
}

.sliderWrapper_Slider_Slide {
  @apply relative flex justify-center items-center w-full h-full;
}


