.pageSection {
    @apply relative block w-full h-auto;
}

.pageSection_Block {
    @apply relative w-full h-auto;
}

.pageSection_Block_Title {
    @apply mt-[20px] text-[#ffffff] text-[2.5rem] font-['Exo2'] font-bold;
}

.pageSection_Block_Wrapper {
    @apply relative grid grid-cols-1 w-full h-auto;
}

.pageGridSection {
    @apply relative grid gap-y-[30px] mlarge:gap-y-[25px] mmedium:gap-y-[20px] msmall:gap-y-[15px] gap-x-[30px] mlarge:gapy-x-[25px] mmedium:gap-x-[20px] msmall:gap-x-[15px] w-full h-auto z-[20];
}

.pageSectionContentWrapper {
    @apply relative grid gap-y-[30px] mlarge:gap-y-[25px] mmedium:gap-y-[20px] msmall:gap-y-[15px] gap-x-[30px] mlarge:gapy-x-[25px] mmedium:gap-x-[20px] msmall:gap-x-[15px] mt-[20px] w-full h-auto;
}