.rootWidget {
    @apply relative mt-[25px] w-[450px] mlarge:w-full h-[220px] mlarge:h-auto bg-[#00293a] border-4 border-[#f44336] rounded-[10px] overflow-hidden;
}

.rootWidget_Top {
    @apply py-[15px] px-[20px] bg-[#a20b00] text-[#ffffff] text-[1.75rem] mlarge:text-[1.25rem] msmall:text-[1.125rem] font-['Exo2'] font-bold;
}

.rootWidget_Bottom {
    @apply mt-[20px] mlarge:mt-0 mlarge:py-[20px] px-[20px] text-[#ffffff] text-[1.25rem] mlarge:text-[1.125rem] msmall:text-[1rem] font-['Exo2'] font-medium brightness-75;
}