.boosterWidget {
    @apply relative px-[30px] mlarge:px-[15px] msmall:px-[10px] py-[30px] mlarge:py-[15px] msmall:py-[10px] w-full h-auto bg-[#00293a] border-2 border-[--theme-color] rounded-[10px];
}

.boosterWidget_Top {
    @apply flex items-center;
}

.boosterWidget_Top_Image {
    @apply w-[80px] mlarge:w-[60px] mmedium:w-[55px] msmall:w-[50px] h-[80px] mlarge:h-[60px] mmedium:h-[55px] msmall:h-[50px] border-2 border-[--theme-color] rounded-[7.5px];
}

.boosterWidget_Top_Title {
    @apply ml-[20px] mmedium:ml-[15px] msmall:ml-[10px] text-[#ffffff] text-[1.75rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-['Exo2'] font-bold;
}

.boosterWidget_Effect {
    @apply mt-[10px] pb-[50px] mlarge:pb-[40px] mmedium:pb-[35px] msmall:pb-[30px] text-[#ffffff] text-[1.25rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-['Exo2'] font-medium brightness-75;
}

.boosterWidget_Bottom {
    @apply absolute flex items-center bottom-[20px] mlarge:bottom-[10px] msmall:bottom-[7.5px];
}

.boosterWidget_Bottom_Text {
    @apply text-[--theme-color] text-[1.5rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-['Exo2'] font-semibold;
}

.boosterWidget_Bottom_Number {
    @apply ml-[20px] mlarge:ml-[15px] mmedium:ml-[10px] text-[#ffffff] text-[1.75rem] mlarge:text-[1.5rem] mmedium:text-[1.375rem] msmall:text-[1.25rem] font-['Insignia'] font-bold;
}

.boosterWidget_Bottom_Image {
    @apply ml-[10px] mlarge:ml-[7.5px] mmedium:ml-[5px] w-[35px] mlarge:w-[27.5px] mmedium:w-[25px] msmall:w-[22.5px] h-[35px] mlarge:h-[27.5px] mmedium:h-[25px] msmall:h-[22.5px];
}