.boosterWidget {
    @apply relative px-[30px] py-[30px] w-full h-auto bg-[#00293a] border-2 border-[--theme-color] rounded-[10px];
}

.boosterWidget_Top {
    @apply flex items-center;
}

.boosterWidget_Top_Image {
    @apply w-[80px] h-[80px] border-2 border-[--theme-color] rounded-[7.5px];
}

.boosterWidget_Top_Title {
    @apply ml-[20px] text-[#ffffff] text-[1.75rem] font-['Exo2'] font-bold;
}

.boosterWidget_Effect {
    @apply mt-[10px] pb-[50px] text-[#ffffff] text-[1.25rem] font-['Exo2'] font-medium brightness-75;
}

.boosterWidget_Bottom {
    @apply absolute flex items-center bottom-[20px];
}

.boosterWidget_Bottom_Text {
    @apply text-[--theme-color] text-[1.5rem] font-['Exo2'] font-semibold;
}

.boosterWidget_Bottom_Number {
    @apply ml-[20px] text-[#ffffff] text-[1.75rem] font-['Insignia'] font-bold;
}

.boosterWidget_Bottom_Image {
    @apply ml-[10px] w-[35px] h-[35px];
}