.currentArmor_Modal_Top {
    @apply relative flex h-auto max-h-[410px] mlarge:max-h-[1000px];
}

.currentArmor_Modal_Top_ImageWrapper {
    @apply relative flex justify-center items-center w-[250px] mlarge:w-[40%] mlarge:min-w-[40%] h-[410px] mlarge:h-[230px] mmedium:h-[210px] msmall:h-[190px] bg-cover bg-no-repeat border-2 border-[--theme-color] rounded-t-[7.5px] rounded-bl-[7.5px] mlarge:rounded-[7.5px] overflow-hidden;
}

.currentArmor_Modal_Top_ImageWrapper_Image {
    @apply w-full h-full;
}

.currentArmor_Modal_Top_TextBlock {
    @apply relative mt-[-10px] mlarge:mt-[-7.5px] mmedium:mt-[-5px] msmall:mt-[-2.5px] pl-[40px] mlarge:pl-[10px] pb-[20px] mlarge:pb-0 w-[calc(100%-270px)] mlarge:w-full h-auto mlarge:max-h-[230px] mmedium:max-h-[215px] msmall:max-h-[180px] border-b-2 mlarge:border-0 border-[--theme-color];
}

.currentArmor_Modal_Top_TextBlock_Title {
    @apply mlarge:w-[80%] text-[#ffffff] text-[2rem] mlarge:text-[1.2rem] mmedium:text-[1.075rem] msmall:text-[0.95rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Top_TextBlock_Characteristic {
    @apply flex items-center mt-[10px] mlarge:mt-[2.5px] msmall:mt-[2.5px] w-auto h-[36px] mlarge:h-[30px] mmedium:h-[28px] msmall:h-[26px];
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Name {
    @apply text-[--theme-color] text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Value {
    @apply text-[#ffffff] text-[1.5rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Description {
    @apply mlarge:w-full text-[#ffffff] text-[1.25rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-['Exo2'] font-bold brightness-75 w-[80%];
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Price {
    @apply flex items-center ml-[20px] mlarge:ml-[10px] mt-[2.5px] mlarge:mt-[1.5px];
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Price_Text {
    @apply text-[#ffffff] text-[1.75rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-['Insignia'] font-bold;
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Price_Image {
    @apply ml-[10px] mlarge:ml-[5px] w-[35px] mlarge:w-[27.5px] mmedium:w-[25px] msmall:w-[22.5px] h-[35px] mlarge:h-[27.5px] mmedium:h-[25px] msmall:h-[22.5px];
}

.currentArmor_Modal_Top_TextBlock_Characteristic_Text {
    @apply ml-[20px] text-[#ffffff] text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Bottom {
    @apply relative pr-[17.5px] mlarge:pr-0;
}

.currentArmor_Modal_Bottom_Top {
    @apply mt-[20px] mlarge:mt-[10px] mmedium:mt-[7.5px] msmall:mt-[5px] w-auto h-auto;
}

.currentArmor_Modal_Bottom_Top_Title {
    @apply text-[--theme-color] text-[1.5rem] mlarge:text-[1.075rem] mmedium:text-[0.95rem] msmall:text-[0.825rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Bottom_Top_Text {
    @apply mt-[10px] mlarge:mt-[5px] msmall:mt-[2.5px] text-[#ffffff] text-[1.25rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-['Exo2'] font-bold brightness-75;
}

.currentArmor_Modal_Bottom_Bottom {
    @apply flex mlarge:block justify-between items-center mt-[20px] mlarge:mt-[10px] msmall:mt-[5px] w-auto h-auto;
}

.currentArmor_Modal_Bottom_Bottom_TextBlock {
    @apply flex items-center mlarge:mt-[5px] msmall:mt-[2.5px] h-[36px] mlarge:h-auto;
}

.currentArmor_Modal_Bottom_Bottom_TextBlock_Title {
    @apply text-[--theme-color] text-[1.375rem] mlarge:text-[1.075rem] mmedium:text-[0.95rem] msmall:text-[0.825rem] font-['Exo2'] font-bold;
}

.currentArmor_Modal_Bottom_Bottom_TextBlock_Text {
    @apply mt-[2.5px] ml-[20px] mlarge:ml-[10px] text-[#ffffff] text-[1.75rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-['Insignia'] font-bold;
}