.weaponWidget {
    @apply relative grid justify-items-center gap-y-[10px] w-full h-auto;
}

.weaponWidgetCard {
    @apply relative flex justify-center bg-[url('/static/WeaponBackground.png')] bg-cover border-2 border-theme rounded-[10px] cursor-pointer duration-300 ease-in-out;
}

.weaponWidgetCard:hover {
    @apply brightness-[1.15];
}

.weaponWidget-text {
    @apply text-theme text-[1.25rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] text-left font-ru-primary font-bold brightness-125;
}