.playerCard {
    @apply relative w-full h-auto;
}

.playerCard-imageContainer {
    @apply relative w-full h-[380px] mlarge:h-[320px] mmedium:h-[280px] msmall:h-[240px] border-2 border-theme rounded-[10px] overflow-hidden;
}

.playerCard-imageContainer-backgroundImage {
    @apply absolute w-full h-full;
}

.playerCard-imageContainer-priceBlock {
    @apply absolute flex items-center top-[10px] right-[10px] py-[5px] msmall:py-[2.5px] pl-[12.5px] mlarge:pl-[10px] msmall:pl-[7.5px] pr-[5px] msmall:pr-[2.5px] bg-[#00000080] rounded-[7.5px] mlarge:rounded-[5px];
}

.playerCard-imageContainer-priceBlock-text {
    @apply text-[1.5rem] mlarge:text-[1.375rem] mmedium:text-[1.25rem] msmall:text-[1.125rem] text-white font-secondary font-bold;
}

.playerCard-imageContainer-priceBlock-icon {
    @apply ml-[10px] w-[27.5px] mlarge:w-[25px] mmedium:w-[22.5px] msmall:w-[20px] h-[27.5px] mlarge:h-[25px] mmedium:h-[22.5px] msmall:h-[20px];
}

.playerCard-title {
    @apply relative mt-[10px] mx-auto max-w-[90%] text-theme text-[1.125rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] text-center font-primary font-bold;
}