.playerCard {
    @apply relative w-full h-[300px] mlarge:h-[280px] mmedium:h-[260px] msmall:h-[220px] border-2 border-[#2cc388] rounded-[10px] overflow-hidden;
}

.playerCard_BackgroundImage {
    @apply absolute w-full h-full;
}

.playerCard_PriceBlock {
    @apply absolute flex items-center top-[10px] right-[10px] py-[5px] msmall:py-[2.5px] pl-[12.5px] mlarge:pl-[10px] msmall:pl-[7.5px] pr-[5px] msmall:pr-[2.5px] bg-[#00000080] rounded-[7.5px] mlarge:rounded-[5px];
}

.playerCard_PriceBlock_Text {
    @apply text-[1.5rem] mlarge:text-[1.375rem] mmedium:text-[1.25rem] msmall:text-[1.125rem] text-[#ffffff] font-['Insignia'] font-bold;
}

.playerCard_PriceBlock_Icon {
    @apply ml-[10px] w-[27.5px] mlarge:w-[25px] mmedium:w-[22.5px] msmall:w-[20px] h-[27.5px] mlarge:h-[25px] mmedium:h-[22.5px] msmall:h-[20px];
}

.playerCard_Title {
    @apply absolute bottom-[10px] mlarge:bottom-[7.5px] msmall:bottom-[5px] left-[10px] mlarge:left-[7.5px] mmedium:left-[5px] py-[5px] msmall:py-[2.5px] px-[10px] msmall:px-[7.5px] max-w-[90%] bg-[#00000080] rounded-[7.5px] mlarge:rounded-[5px] text-[--theme-color] text-[1.125rem] mlarge:text-[1rem] mmedium:text-[0.875rem] msmall:text-[0.75rem] font-['Exo2'] font-medium;
}