.galaxyMap {
    @apply relative mt-[-20px] w-[calc(100%-450px)] h-auto;
}

.galaxyMap_Wrapper {
    @apply relative flex justify-center items-center mt-[25px] mb-[20px] w-full h-[600px] bg-[#000000] border-2 border-[#2cc388] rounded-[10px] overflow-hidden;
}

.galaxyMap_Wrapper_BlankBlock {
    @apply flex items-center;
}

.galaxyMap_Wrapper_BlankBlock_Text {
    @apply text-[#ffffff] text-[3rem] font-['Exo2'] font-semibold;
}

.galaxyMap_Wrapper_BlankBlock_Icon {
    @apply ml-[40px] w-[54px] h-[54px];
}