.pageTitle {
    @apply text-[#ffffff] text-[2.5rem] font-['Exo2'] font-bold;
}

.pageTitle_Bold {
    @apply text-[#2cc388] font-bold;
}

.pageDescription {
    @apply mt-[20px] w-[80%] text-[#ffffff] text-[1.5rem] font-['Exo2'] font-medium brightness-75;
}

.pageSection {
    @apply relative w-full h-auto;
}

.pageSection_Block {
    @apply relative w-full h-auto;
}

.pageSection_Block_Title {
    @apply mt-[30px] text-[#ffffff] text-[2.5rem] font-['Exo2'] font-bold;
}

.pageSection_Block_ArmorKitsWrapper {
    @apply grid grid-cols-5 gap-x-[30px] gap-y-[30px] mt-[20px] w-full h-full;
}