footer {
    @apply relative grid justify-items-center py-[30px] px-[5%] deskWide:px-[calc((100%-1440px)/2)] w-full h-auto bg-[#00293a] border-t-[1px] border-[#2cc384];
}

.footerTop {
    @apply flex justify-between items-start w-full h-auto;
}

.footerTop_Icon {
    @apply w-[200px] h-[75px];
}

.footerTop_TextBlock {
    @apply relative w-auto mt-[5px] text-[#5a7f8f] text-[1.25rem];
}

.footerTop_TextBlock_Title {
    @apply mt-[-15px] pb-[10px] text-[#ffffff] text-[1.375rem] font-['Exo2'] font-medium;
}

.footerTop_TextBlock_RusLink {
    @apply block text-[--theme-color] font-['Exo2'] font-bold;
}

.footerTop_TextBlock_Link_EngLink {
    @apply block w-full text-[--theme-color] text-right font-['Insignia'];
}

.footerBottom {
    @apply flex items-center mt-[15px] w-auto text-[#5a7f8f] text-[1.25rem] font-['Insignia'] font-medium;
}

.footerBottom_Link {
    @apply ml-[10px] text-[#ffffff] underline;
}