.planetWidget {
    @apply relative px-[30px] pt-[20px] pb-[30px] w-full h-auto min-h-[120px] bg-[#00293a] border-2 border-[--theme-color] rounded-[10px] cursor-pointer;
}

.planetWidget_Image {
    @apply absolute top-0 left-0 w-full h-full rounded-[7.5px];
}

.planetWidget_Title {
    @apply absolute bottom-[10px] left-[20px] px-[10px] w-auto max-w-[60%] h-auto bg-[#00000080] rounded-[7.5px] text-[--theme-color] text-[1.25rem] text-left font-['Exo2'] font-bold brightness-125;
}

.planetWidget_WeatherConditions_Container {
    @apply absolute flex items-center bottom-[10px] right-0 w-auto h-auto cursor-pointer;
}

.planetWidget_WeatherConditions_Container_ImageWrapper {
    @apply relative w-auto h-auto;
}

.planetWidget_WeatherConditions_Container_ImageWrapper_Image {
    @apply mr-[20px] p-[2.5px] w-[45px] h-[45px] bg-[#ffffff] rounded-[7.5px] z-50;
}
