header {
    @apply relative flex justify-between items-center deskWide:mx-[calc((100%-1440px)/2)] px-[5%] deskWide:px-0 w-full max-w-[1440px] h-[65px] bg-[--color-bg-primary];
}

.headerLogoLink {
    @apply flex items-center h-full outline-none;
}

.headerLogoLink_Icon {
    @apply w-[40px] h-[40px];
}

.headerLogoLink_Text {
    @apply mmedium:mt-[2.5px] msmall:mt-[5px] ml-[10px] mlarge:ml-0 text-white text-[2rem] mlarge:text-[1.75rem] mmedium:text-[1.625rem] msmall:text-[1.5rem] font-secondary font-bold;
}

.headerLogoLink_Text_Bold {
    @apply text-theme;
}

.headerNavBlock {
    @apply flex justify-between items-center w-auto;
}

.headerNavBlock_Link {
    @apply w-auto text-white text-[1.375rem] mlarge:text-[1.25rem] msmall:text-[1.25rem] text-center font-primary font-bold outline-none duration-300 ease-in-out;
}

.headerNavBlock_Link:hover {
    @apply text-theme;
}

.headerNavBlock_ChangeLanguageButton {
    @apply mlarge:absolute mlarge:right-[2.5%] mmedium:w-[55px] text-theme;
}

.headerNavBlock_ChangeLanguageButton .ant-select-selector {
    @apply mmedium:!px-[7.5px];
}

.headerNavBlock_ChangeLanguageButton .ant-select-selection-item {
    @apply mb-[2px] !text-theme text-[1rem] font-primary;
}

.headerNavBlock_ChangeLanguageButton .ant-select-selection {
    @apply text-theme;
}

.headerNavBlock_ChangeLanguageButton .ant-select-arrow {
    @apply text-theme;
}