.weaponWidget {
    @apply relative flex justify-center pt-[20px] pb-[40px] px-[20px] w-full h-auto bg-[#00293a] border-2 border-[--theme-color] rounded-[10px] cursor-pointer;
}

.weaponWidget_Text {
    @apply absolute bottom-[10px] left-[20px] w-full text-[--theme-color] text-[1.25rem] text-left font-['Exo2'] font-bold brightness-125;
}