.currentWeapon_Modal_Top {
    @apply relative flex;
}

.currentWeapon_Modal_Top_ImageWrapper {
    @apply relative flex justify-center items-center w-[400px] h-[292px] bg-cover bg-no-repeat border-2 border-[--theme-color] rounded-t-[7.5px] rounded-bl-[7.5px];
}

.currentWeapon_Modal_Top_ImageWrapper_Image {
    @apply w-full;
}

.currentWeapon_Modal_Top_TextBlock {
    @apply relative mt-[-10px] pl-[40px] pb-[20px] w-[calc(100%-420px)] h-auto border-b-2 border-[--theme-color];
}

.currentWeapon_Modal_Top_TextBlock_Title {
    @apply text-[#ffffff] text-[2rem] font-['Exo2'] font-bold;
}

.currentWeapon_Modal_Top_TextBlock_Characteristic {
    @apply flex items-center mt-[10px] w-auto h-[36px];
}

.currentWeapon_Modal_Top_TextBlock_Characteristic_Name {
    @apply text-[--theme-color] text-[1.5rem] font-['Exo2'] font-bold;
}

.currentWeapon_Modal_Top_TextBlock_Characteristic_Price {
    @apply flex items-center ml-[20px] mt-[2.5px];
}

.currentWeapon_Modal_Top_TextBlock_Characteristic_Price_Text {
    @apply text-[#ffffff] text-[1.75rem] font-bold;
}

.currentWeapon_Modal_Top_TextBlock_Characteristic_Price_Image {
    @apply ml-[10px] w-[35px] h-[35px];
}

.currentWeapon_Modal_Top_TextBlock_Characteristic_Text {
    @apply mt-[2.5px] ml-[20px] text-[#ffffff] text-[1.75rem] font-['Insignia'] font-bold;
}

.currentWeapon_Modal_Bottom {
    @apply relative pr-[17.5px];
}

.currentWeapon_Modal_Bottom_Top {
    @apply mt-[20px] w-auto h-auto;
}

.currentWeapon_Modal_Bottom_Top_Title {
    @apply text-[--theme-color] text-[1.5rem] font-['Exo2'] font-bold;
}

.currentWeapon_Modal_Bottom_Top_Text {
    @apply mt-[10px] text-[#ffffff] text-[1.25rem] font-['Exo2'] font-bold brightness-75;
}

.currentWeapon_Modal_Bottom_Bottom {
    @apply flex justify-between items-center mt-[20px] w-auto h-auto;
}

.currentWeapon_Modal_Bottom_Bottom_TextBlock {
    @apply flex items-center h-[36px];      
}

.currentWeapon_Modal_Bottom_Bottom_TextBlock_Title {
    @apply text-[--theme-color] text-[1.375rem] font-['Exo2'] font-bold;
}

.currentWeapon_Modal_Bottom_Bottom_TextBlock_Text {
    @apply mt-[2.5px] ml-[20px] text-[#ffffff] text-[1.75rem] font-['Insignia'] font-bold;
}