.rootActiveCampaignWidget {
   @apply relative w-[450px] h-auto bg-[#00293a] border-2 rounded-[10px];
}

.rootActiveCampaignWidget_Top {
    @apply flex justify-between items-center px-[20px] w-full h-[50px] bg-[#000000] rounded-t-[10px];
}

.rootActiveCampaignWidget_Top_Left {
    @apply flex;
}

.rootActiveCampaignWidget_Top_Left_Icon {
    @apply w-[40px] h-[30px];
}

.rootActiveCampaignWidget_Top_Left_Title {
    @apply ml-[10px] text-[1.5rem] font-['Exo2'] font-bold;
}

.rootActiveCampaignWidget_Top_TimeLeft {
    @apply text-[1.375rem] font-['Insignia'] font-bold;
}

.rootActiveCampaignWidget_Center {
    @apply relative w-full h-[185px];
}

.rootActiveCampaignWidget_Center_Status {
    @apply absolute flex justify-center items-center px-[20px] w-full h-[35px] bg-[#00000073];
}

.rootActiveCampaignWidget_Center_Status_Icon {
    @apply w-[20px] h-[20px];
}

.rootActiveCampaignWidget_Center_Status_Text {
    @apply mt-[-1.5px] ml-[10px] text-[#ffffff] text-[1.5rem] font-['Exo2'] font-semibold;
}

.rootActiveCampaignWidget_Center_Image {
    @apply w-full h-full;
}

.rootActiveCampaignWidget_Center_WeatherConditions_Block {
    @apply absolute flex items-center bottom-[10px] right-0 w-auto h-auto;
}

.rootActiveCampaignWidget_Center_WeatherConditions_Block_ImageWrapper {
    @apply relative w-auto h-auto;
}

.rootActiveCampaignWidget_Center_WeatherConditions_Block_ImageWrapper_Image {
    @apply mr-[20px] p-[2.5px] w-[45px] h-[45px] bg-[#ffffff] rounded-[7.5px] cursor-pointer z-50;
}

.rootActiveCampaignWidget_Liberation {
    @apply relative flex w-full h-[40px] bg-[#000000] border-2 border-[#000000];
}

.rootActiveCampaignWidget_Liberation_Wrapper {
    @apply py-[2px] px-[2px] w-full h-full border-2;
}

.rootActiveCampaignWidget_Liberation_Wrapper_Left {
    @apply h-full bg-[#3db8fe];
}

.rootActiveCampaignWidget_Liberation_Wrapper_Right {
    @apply h-full;
}

.rootActiveCampaignWidget_Percentage {
    @apply relative w-full h-[50px] bg-[#000000] border-2 border-[#000000];
}

.rootActiveCampaignWidget_Percentage_Wrapper {
    @apply flex justify-between items-center px-[20px] w-full h-full border-2 border-[#ffffff];
}

.rootActiveCampaignWidget_Percentage_Wrapper_Left {
    @apply flex items-center;
}

.rootActiveCampaignWidget_Percentage_Wrapper_Left_NumberText {
    @apply text-[#ffffff] text-[1.375rem] font-['Insignia'] font-medium;
}

.rootActiveCampaignWidget_Percentage_Wrapper_Left_Text {
    @apply mt-[-2px] ml-[10px] text-[#ffffff] text-[1.25rem] font-['Exo2'] font-medium;
}

.rootActiveCampaignWidget_Percentage_Wrapper_Right {
    @apply flex items-center;
}

.rootActiveCampaignWidget_Percentage_Wrapper_Right_Icon {
   @apply w-[20px] h-[25px];
}

.rootActiveCampaignWidget_Percentage_Wrapper_Right_Text {
  @apply ml-[10px] text-[1.25rem] font-['Exo2'] font-bold;
}

.rootActiveCampaignWidget_Bottom {
    @apply relative w-full h-[50px] bg-[#000000] border-2 border-[#000000] rounded-b-[7.5px];
}

.rootActiveCampaignWidget_Bottom_Wrapper {
    @apply flex items-center px-[20px] w-full h-full border-2 border-[#ffffff] rounded-b-[5px];
}

.rootActiveCampaignWidget_Bottom_Wrapper_Block {
    @apply flex items-center;
}

.rootActiveCampaignWidget_Bottom_Wrapper_Block_Icon {
    @apply w-[25px] h-[25px];
}

.rootActiveCampaignWidget_Bottom_Wrapper_Block_NumberText {
    @apply ml-[10px] text-[1.375rem] font-['Insignia'] font-bold;
}