.currentResourceinfo {
    @apply px-[20px] mlarge:px-[15px] border-l-2 border-[--theme-color];
}

.currentResourceinfo_Title {
    @apply text-[#ffffff] text-[2rem] mlarge:text-[1.5rem] mmedium:text-[1.375rem] msmall:text-[1.25rem] font-['Exo2'] font-bold;
}

.currentResourceinfo_Text {
    @apply mt-[20px] mmedium:mt-[15px] text-[#ffffff] text-[1.5rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-['Exo2'] font-medium brightness-75;
}

.currentResourceinfo_Text > b {
    @apply text-[--theme-color] brightness-125;
}