.currentResourceInfo {
    @apply grid gap-y-[10px] px-[20px] mlarge:px-[15px] border-l-2 border-[--color-theme];
}

.currentResourceInfo-title {
    @apply text-[--color-white] text-[2rem] mlarge:text-[1.5rem] mmedium:text-[1.375rem] msmall:text-[1.25rem] font-ru-primary font-bold;
}

.currentResourceInfo-image {
    @apply w-[579px] h-[191px] bg-[url('/static/Resources/SuperCreditsPrices.webp')] bg-no-repeat border-[1px] border-[--color-theme];
}

.currentResourceInfo-textBlock {
    @apply w-auto h-auto;
}

.currentResourceInfo-textBlock-title {
    @apply text-[--color-theme] text-[1.5rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-ru-primary font-medium;
}

.currentResourceInfo-textBlock-text {
    @apply text-[--color-grey] text-[1.25rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-ru-primary font-normal;
}