.newsForm-titleInput {
    @apply w-full bg-transparent text-[--color-white] text-[2rem] font-ru-primary font-semibold outline-none resize-none;
}

.newsForm-coverInput {
    @apply relative grid justify-items-center items-center mt-[30px] w-full h-[400px] border-[2px] border-[--color-theme] rounded-[10px] overflow-hidden cursor-pointer;
}

.newsForm-coverInput > input {
    @apply hidden;
}

.newsForm-coverInput-icon {
    @apply pb-[30px] text-[--color-theme] text-[6rem] font-ru-primary font-semibold;
}

.newsForm-coverInput-text {
    @apply absolute bottom-[120px] text-[--color-white] text-[2rem] font-ru-primary font-medium;
}

.newsForm-coverInput-preview {
    @apply w-full h-full object-cover;
}

.newsForm-contentInput {
    @apply mt-[30px] w-full h-[2000px] bg-transparent text-[--color-white] text-[1.25rem] font-ru-primary font-normal outline-none resize-none;
}

.newsForm-submitButton {
    @apply w-[200px] h-[50px] border-2 border-[--color-theme] rounded-[10px] text-[--color-theme] text-[1.5rem] font-ru-primary font-medium;
}