.armorInfoSection {
    @apply relative w-[calc(100%-480px)] mlarge:w-full h-auto;
}

.armorInfoSection-top {
    @apply relative flex items-center gap-x-[15px] mlarge:gap-x-[10px] mmedium:gap-x-[5px] mlarge:mt-[10px];
}

.armorInfoSection-top > h1 {
    @apply text-theme text-[2.5rem] mlarge:text-[1.375rem] mmedium:text-[1.25rem] msmall:text-[1.125rem] font-primary font-bold;
}

.armorInfoSection-top-right {
    @apply flex items-center gap-x-[15px] mlarge:gap-x-[10px] mmedium:gap-x-[5px] mt-[11px] mlarge:mt-[2px] mmedium:mt-[4px] msmall:mt-[2px] text-white font-primary;
}

.armorInfoSection-top-right-divider {
    @apply text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-medium;
}

.armorInfoSection-top-right-text {
    @apply text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-medium;
}

.armorInfoSection-mainInfoContainer {
    @apply relative grid justify-items-start gap-y-[20px] mlarge:gap-y-[10px] msmall:gap-y-[5px] mt-[30px] mlarge:mt-[15px] msmall:mt-[5px] w-full h-auto;
}

.armorInfoSection-mainInfoContainer-blockWithNumber {
    @apply flex items-center gap-x-[15px];
}

.armorInfoSection-mainInfoContainer-blockWithText {
    @apply grid gap-y-[5px];
}

.blockTitle {
    @apply text-theme text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-primary font-semibold;
}

.blockText {
    @apply text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-primary font-medium brightness-[0.7];
}

.blockWhiteText {
    @apply text-white text-[1.5rem] mlarge:text-[1.125rem] mmedium:text-[1rem] msmall:text-[0.875rem] font-primary font-medium;
}

.blockNumber {
    @apply mt-[4px] mlarge:mt-[2px] text-white text-[1.625rem] mlarge:text-[1.25rem] mmedium:text-[1.125rem] msmall:text-[1rem] font-secondary font-bold;
}