.weatherConditionAdditionalInfoWindow {
    @apply absolute right-[20px] py-[15px] px-[20px] w-[200px] h-auto bg-[#00293a] border-2 rounded-[7.5px] duration-[400ms] ease-in-out;
}

.weatherConditionAdditionalInfoWindow_Title {
    @apply text-[#ffffff] text-[1.25rem] font-['Exo2'] font-semibold;
}

.weatherConditionAdditionalInfoWindow_Text {
    @apply mt-[10px] text-[#ffffff] text-[1rem] font-['Exo2'] font-medium brightness-75;
}